In [1]:
from main import app

In [89]:
import pandas as pd
import os
import numpy as np

In [18]:
pd.set_option("display.max_columns", 500)
pd.set_option("display.max_rows", 500)
pd.set_option("display.width", 1000)

In [92]:
input_data = {'age': 42, 'workclass': 'Private', 'fnlgt': 159449, 'education': 'Bachelors', 'education_num': 13, 'marital_status': 'Married-civ-spouse', 
              'occupation': 'Exec-managerial', 'relationship': 'Husband', 'race': 'White', 'sex': 'Male', 'capital_gain': 0, 'capital_loss': 0, 
              'hours_per_week': 40, 'native_country': 'United-States'}

In [84]:
input_data = {'age': [42], 'workclass': ['Private'], 'fnlgt': [159449], 'education': ['Bachelors'], 'education_num': [13], 'marital_status': ['Married-civ-spouse'], 
              'occupation': ['Exec-managerial'], 'relationship': ['Husband'], 'race': ['White'], 'sex': ['Male'], 'capital_gain': [0], 
              'capital_loss': [0], 'hours_per_week': [40], 'native_country': ['United-States']}

In [93]:
df_data = np.array([[input_data.age,input_data.workclass,input_data.fnlgt,input_data.education,
                             input_data.education_num, input_data.marital_status, input_data.occupation,
                             input_data.relationship, input_data.race, input_data.sex, 
                             input_data.capital_gain, input_data.capital_loss, 
                             input_data.hours_per_week, input_data.native_country]])
df_data

AttributeError: 'dict' object has no attribute 'age'

In [87]:
type(input_data)

dict

In [63]:
data = {'name': 'nick',
        'age':  '10'} 
new = pd.DataFrame.from_dict(data)
  
new

ValueError: If using all scalar values, you must pass an index

In [82]:
attributes_dict = input_data.dict(by_alias=True)

AttributeError: 'dict' object has no attribute 'dict'

In [79]:
df_data = pd.DataFrame.from_dict([input_data])

In [75]:
df_data = pd.DataFrame([input_data])

In [80]:
print(df_data)

   age workclass   fnlgt  education  education_num      marital_status       occupation relationship   race   sex  capital_gain  capital_loss  hours_per_week native_country
0   42   Private  159449  Bachelors             13  Married-civ-spouse  Exec-managerial      Husband  White  Male             0             0              40  United-States

In [81]:
df_data

   age workclass   fnlgt  education  education_num      marital_status       occupation relationship   race   sex  capital_gain  capital_loss  hours_per_week native_country
0   42   Private  159449  Bachelors             13  Married-civ-spouse  Exec-managerial      Husband  White  Male             0             0              40  United-States

In [55]:
df_data.dtypes

age                int64
workclass         object
fnlgt              int64
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
sex               object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
dtype: object

In [30]:
os.path.join(os.getcwd(), "model", "model_lb.pkl")

'/home/congwei/nd0821-c3-starter-code/starter/model/model_lb.pkl'

In [64]:
df = {'0': {'0': ['age', 42]}, '1': {'0': ['workclass', 'Private']}, '2': {'0': ['fnlgt', 159449]}, '3': {'0': ['education', 'Bachelors']}, '4': {'0': ['education_num', 13]}, '5': {'0': ['marital_status', 'Married-civ-spouse']}, '6': {'0': ['occupation', 'Exec-managerial']}, '7': {'0': ['relationship', 'Husband']}, '8': {'0': ['race', 'White']}, '9': {'0': ['sex', 'Male']}, '10': {'0': ['capital_gain', 0]}, '11': {'0': ['capital_loss', 0]}, '12': {'0': ['hours_per_week', 40]}, '13': {'0': ['native_country', 'United-States']}}

In [65]:
df

{'0': {'0': ['age', 42]},
 '1': {'0': ['workclass', 'Private']},
 '2': {'0': ['fnlgt', 159449]},
 '3': {'0': ['education', 'Bachelors']},
 '4': {'0': ['education_num', 13]},
 '5': {'0': ['marital_status', 'Married-civ-spouse']},
 '6': {'0': ['occupation', 'Exec-managerial']},
 '7': {'0': ['relationship', 'Husband']},
 '8': {'0': ['race', 'White']},
 '9': {'0': ['sex', 'Male']},
 '10': {'0': ['capital_gain', 0]},
 '11': {'0': ['capital_loss', 0]},
 '12': {'0': ['hours_per_week', 40]},
 '13': {'0': ['native_country', 'United-States']}}

In [70]:
#define dictionary of scalar values
my_dict = {'A':1, 'B':2, 'C':3, 'D':4}

#create DataFrame by passing dictionary wrapped in a list
df = pd.DataFrame([my_dict])

#view DataFrame
df

   A  B  C  D
0  1  2  3  4